<h1>Workouts</h1>
<a href="/workouts/new">Add a Workout</a>
<% @workout.each do |workout| %>
    <h2><a href="/workouts/<%= workout.id %>"><%= workout.name %></a></h2>
    <p><%= workout.description %></p> 
    <img src="<%=workout.image %>" alt="workout">
    <% if current_user == workout.user %>
    <a href="/workouts/<%= workout.id %>/edit">Edit</a>
    <% end %>
<% end %> 
