<h1>Workouts</h1>
<a href="/workouts/new">Add a Workout</a>
<% @workout.each do |workout| %>
    <h2><a href="/workouts/<%= workout.id %>"><%= workout.name %></a></h2>
    <p><%= workout.description %></p> 
    <img src="<%=workout.image %>" alt="workout">
    <a href="/workouts/<%= workout.id %>">Edit</a> 
<% end %> 
