<h1><%= @workout.name %></h1>
<h2><%= @workout.description %></h2>
<img src="<%= @workout.image %>" alt="workout">
<form action="/workouts/<%= @workout.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete Workout</button>
</form>

<% if flash[:alert] %>
<%= flash[:alert] %>
<% end %> 
    