<h1></h1>

<form action="/workoutlogs/<%= @workoutlog.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">
    <label><strong>Workoutlog Date:</strong></label>
    <input type="date" name="workoutlog[created_at]" value="<%= @workoutlog.created_at %>">
    <br></br>
    <label><strong>Workoutlog Name:</strong></label>
    <input type="text" name="workoutlog[workout][name]" value="<%= @workoutlog.workout.name %>">
    <br></br>
    <label><strong>Workoutlog Sets:</strong></label>
    <input type="number" name="workoutlog[sets]" value="<%= @workoutlog.sets %>">
    <br></br>
    <label><strong>Workoutlog Reps:</strong></label>
    <input type="number" name="workoutlog[reps]" value="<%= @workoutlog.reps %>">
    <br></br>
    <button type="submit">Edit workout</button>
</form>
<p><%= @error %></p> 