<h1>Daily Logs</h1>
<a href="/workoutlogs/new">Add a Log</a>

<table>
    <tr>
        <th>Date</th>
        <th>Workout Name</th>
        <th>Number of Sets</th>
        <th>Number of Reps</th>
        <th>Edit</th>
    </tr>
    <tr>
        <% @workoutlog.each do |workoutlog| %>
        <% if current_user == workoutlog.user %>
            <td><%= workoutlog.created_at %></td>
            <% workoutlog.workout_id do |workout| %>
                <%=workout.name %>
            <% end %>
            <td><%= workoutlog.sets %></td>
            <td><%= workoutlog.reps %></td>
            <td><a href="/workoutlogs/<%= workoutlog.id %>/edit">Edit</a><td> 
    </tr>
        <% end %>
    <% end %>
</table>
    